@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-[#0a0a0c] text-[#e0e0e0] overflow-x-hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0c;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff71ce;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b967ff;
  }
}
